/*---------------------- General styles------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}
body {
  width: 375px;
  margin: 0 auto;
}

main,
body {
  background-color: #c6c6c6;
}
article {
  margin-bottom: 25px;
}

/* ---------------------------Layout----------------------- */
.main-header,
article {
  background-color: #fff;
}
.main-header {
  padding: 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}
.post-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.post-author {
  margin-left: 7px;
}
.post-author p {
  line-height: 1.2;
}
.post-footer {
  padding: 21px 0 12px 0;
}

.post-actions {
  display: flex;
  margin-bottom: 11px;
  padding-left: 8px;
}

.comment {
  padding: 0 0 16px 13px;
}
.likes {
  padding-left: 13px;
}
/*--------------------- Images------------------------- */
#logo {
  width: 127px;
}
.profile-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.post-img {
  width: 100%;
}
.post-actions img {
  width: 23px;
  margin-right: 18px;
  padding: 2px;
}
.post-actions img:hover {
  background-color: #c6c6c6;
  border: 1px solid black;
}
/* -------------------------Typography ---------------------*/
.bold {
  font-weight: 700;
}
